.table-bordered, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
    border: 1px solid #a29e9e;
}
table {
    background-color: white;
}
ul.collapse {
    padding-left: 25px;
}
ul.collapse li {
    position: relative;
}
ul.collapse li a{
    padding: 12px 5px 12px 15px;
}